{% extends 'user/user_base.html' %}

{%block title%}Find Shops{%endblock%}
{% load pagination_tags %}


{% block body_block %}

<h1>Find Products</h1>
<div class="container-fluid" id="shop_searchbar">
    <div class="col-sm-6">
        <div class="input-group">
			<form id="product_search_form" method="post" action= "{% url 'users:findproducts' %}">
			{% csrf_token %}
			<input type="text" name="querystring" value="{{queryString}}" size="50" placeholder="Type in the Name of the Product"/>
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit">Search</button>
            </span>
            </form>
        </div><!-- /input-group -->
    </div><!-- /.col-lg-6 -->
</div>

<div class="container-fluid" id="shop_results">

{% if product_list %}
    {% autopaginate product_list 3 %}
    {% for product in product_list %}
        <ul>
            <div class="col-sm-6" id="catalog_int">
                <div class="col-item">
                    <div class="photo">
                        <img src="http://placehold.it/350x260" class="img-responsive" alt="a" />
                    </div>
                    <div class="info">
                        <div class="row">
                            <div class="price col-md-6">
                                <h5>{{product.product_name}}</h5>
                                <h5 class="price-text-color">
                                    MRP: <p>&#x20b9; {{product.mrp}}/-</p> </h5>
                            </div>
                            <div class="rating hidden-sm col-md-6">
                                <i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                </i><i class="price-text-color fa fa-star"></i><i class="price-text-color fa fa-star">
                                </i><i class="fa fa-star"></i>
                            </div>
                        </div>
                        <div class="separator clear-left">
                            <p class="btn-add">
                                <i class="fa fa-shopping-cart"></i><a href="#" class="hidden-sm">Add to list</a></p>
                            <p class="btn-details">
                                <i class="fa fa-list"></i><a href="{% url 'users:allsellers' product.id %}" class="hidden-sm">View Sellers</a></p>
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                  </div>
                </div>
            {#</a>#}
        </ul>
    {% endfor %} 
    <div id = "shop_find_pgn">
        <ul class="pagination">
            {% paginate %}
        </ul>
    </div>
	
{% else %}
    <p>No products are available.</p>
{% endif %}
<!-- <div id = "product_find_pgn">
<ul class="pagination">
  <li><a href="#">&laquo;</a></li>
  <li class="active"><a href="#">1</a></li>
  <li class="disabled"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#">&raquo;</a></li>
</ul>
</div> -->
<script>
        // init bootpag
        $('#shop_find_pgn').bootpag({
            total: 10
        }).on("page", function(event, /* page number here */ num){
             $("#shop_results").html("Insert content"); // some ajax content loading...
        });
    </script>
{% endblock %}