{% extends 'user/user_base.html' %}

{%block title%} Offers {%endblock%}

{% block body_block %}
<div class="container-fluid" id="user_offers_table">
            <br>
            <h2>The following offers are available!</h2>
            <h3>Site Offers</h3>
            {% if SiteOffers %}
              <table class="table table-hover" id="site_offer_table">
              <tr>
                <th> Offer Name </th>
                <th> Offer Details </th>
                <th> Points Needed </th>
              </tr>
              {% for offer in SiteOffers %}
                <tr>
                  <td>  </td>
                  <td>  </td>
                  <td>  </td>
                </tr>
              {% endfor %}
              </table>
            {% else %}
              No offers in this category!
            {% endif %}

            <h3>Shop Offers</h3>
            {% if ShopOffers %}
              <table class="table table-hover" id="shop_offer_table">
              <tr>
                <th> Offer Name </th>
                <th> Offer Details </th>
                <th> Points Needed </th>
                <th> Offer Category </th>
                <th>Eligibility</th>
              </tr>
              {% for offer in ShopOffers %}
                <tr>
                  <td> {{ offer.offer_name }} </td>
                  <td> {{  offer.offer_info }} </td>
                  <td> {{  offer.points_needed }} </td>
                  <td> {{  offer.offer_category }} </td>
                  <td>{% if offer.is_eligible %} Yes {% else %} No {% endif %}</td>
                </tr>
              {% endfor %}
              </table>
            {% else %}
              No offers in this category!
            {% endif %}

            <h3>Product Offers</h3>
            {% if ProductOffers %}
              <table class="table table-hover" id="product_offer_table">
              <tr>
                <th> Product Name </th>
                <th> Offer Name </th>
                <th> Offer Details </th>
                <th> Points Needed </th>
                <th>Eligibility</th>
              </tr>
              {% for offer in ProductOffers %}
              <tr>
                <td> {{ offer.offer_catalog_item.product }} </td>
                <td> {{ offer.offer_name }} </td>
                <td> {{ offer.offer_info }} </td>
                <td> {{ offer.points_needed }} </td>
                <td>{% if offer.is_eligible %} Yes {% else %} No {% endif %}</td>
              </tr>
              {% endfor %}
              </table>
            {% else %}
            No offers in this category!
            {% endif %}
              </ul>
              <br>
              <hr>
            </div>
{%endblock%}